.Filter {
  background: $grey;
  width: 30%;

  .inside{
    padding: 20px;
  }
  h4 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 600;
  }
  select {
    background: transparent;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;

  }
}
