header {
  background: #0B002A;
  color: white;
  overflow: auto;
  padding: 15px 20px;



  .logo {
    float: left;
  }
  nav {
  float: right;

  a {
     color:white;
     &:hover{
     color: #FF718E;
   }
   &.register-btn{
     color: $pink;
     padding: 15px 25px;
     text-align: center;
     color: white;
     border-radius: 5px;
   }
 }
}
}
